<div class="header bg-parimary">
    <div class="container  d-flex j-content-between">
        <div class="logo">
            <a href="index.html">
                <img src="../assets/images/logo-new_工作區域 1.png" alt="">
            </a>
        </div>
        <ul class="header_nav d-flex font-size20 t-align-center">
            <li><a class="font-color-white" href="page-2.html">系列鏡框</a></li>
            <li><a class="font-color-white" href="page-4.html">門市據點</a></li>
            <li><a class="font-color-white" href="#">部落格</a></li>
            <li><a class="font-color-white" href="#">常見問題</a></li>
        </ul>
    </div>
</div>